body{
    text-align: center;
    background: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.sylveons {
    max-width: 350px;
    width: 20%;
    border-radius: 15px;
}